[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = suggestion
file_header_template = Copyright (c) 2022-2025, David Karnok & Contributors\nLicensed under the Apache License, Version 2.0
# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none